# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
venv*/
ENV/
.Python

# Virtualenv
venv/
env/

# Database
*.db
*.sqlite3
instance/
*.sqlite

# Secrets & configs
.env
secret.key

# IDEs
.vscode/
.idea/

# System
.DS_Store
*.log

# Build
build/
dist/
*.egg-info/

# Static uploads
/static/*.png
/static/*.jpg
/static/*.jpeg
/static/*.gif
