{% extends "base.html" %}

{% block content %}

<div class="card mx-auto shadow p-4" style="max-width: 450px;">
    <h2 class="text-center mb-4">Change Account Password</h2>
    <form method="POST" action="{{ url_for('changepassword') }}">
        <div class="mb-3">
            <label for="current_password" class="form-label">Enter Current Password</label>
            <input type="text" name="current_password" class="form-control" required>
        </div>
        <div>
            <label for="new_password" class="form-label">Enter New Password</label>
            <input type="text" name="new_password" class="form-control" required>
        </div>
        <div>
            <label for="verify_password" class="form-label">Verify New Password</label>
            <input type="text" name="verify_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg w-100">Change Password</button>
    </form>
    <p class="text-center mt-3">
        <a href="{{ (url_for('home') )}}">Back to home</a>
    </p>
</div>

{% endblock %}
